$white : #102D4A;
$chocolate--color : #A16A40;
$coffee--color: #937666;
$accent : #DE3D3D;
$text: #E5DBD9;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Inter:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Satisfy&display=swap');
$titres : "Berkshire Swash";
$menus : "Abril Fatface";
$general : "Inter";
p, label{
    color: #E5DBD9;
}
*{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

body{
    font-size:18px;
    font-family:$general;
    background-color:$white;
    overflow-x:hidden;
    width:100vw;
}

main {
            h2{
            color:$chocolate--color;
            font-family:$titres;
            font-size:2em;
            padding:0.5em 0.5em;
        }
}

// bloc Engagements

#block__Engagements{

    padding:.5em;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;

    }

    ul{
        padding:2em;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:min-content;

       li{

        margin-bottom:2em;
        
            img{
                height:40vw;
                width:50vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
    }
}
//header
header
{   
    background-image: url(assets/jr-r-90HdOlGbjck-unsplash.jpg);
    background-color: $white;
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    h1
    {
        font-family: $titres;
        color: $chocolate--color;
        text-align: center;
    }
    .navbar
    {
        position: absolute;
        margin: 50px;
        display: flex;
        justify-content: space-between;
        font-family: $menus;
        flex-direction: column;
        border-radius: 10px;
        transition: all .50s ease;
        background-color: rgba(255, 255, 255, 0.699);
        visibility: hidden;

        & a{
            color: $chocolate--color;
            display: block;
            margin: 12px 0;
            padding: 0 25px;
            transition: all .50s ease;
        }

        & a:hover
        {
            color: #937666;
            transform: translateY(5px)

        }

        ul
        {
            list-style-type: none;
        }
    }
   
    .lightmode{
        appearance:none;
        background-color:$chocolate--color;
        border:0;
        height:2em;
        width:4em;
        position:absolute;
        right: 8em;
        top: 2.4em;
        visibility:visible;
        flex: none;
        display: inline-block;
        background: #0f1224;
        border: 1px solid black;
        box-shadow: 0 1px 4px rgb(213 222 233 / 20%);
        border-radius: 100px;
        transition: background .3s;
    }
    
    .lightmode:before{
        content: url(./assets/moon.svg);
        height:2em;
        width:2em;
        position: absolute;
        top: 0.278rem;
    
    }

    
  .hamburgermenu:focus + .navbar{
    visibility: visible;;
  }
   
    .caddie
    {
            width:10vw;
            visibility: hidden;

    }

    .hamburger
    {   
        width: 15vw;
        display: flex;
        

    }
    
    .header__nav{
        display: flex;
        flex-direction: row-reverse;
    }

    button
    {
        visibility: hidden;
    }

}

//Qui sommes-nous
.qui{
    text-align: center;
    padding: 0.5em;
    &__logo{
        width : 200px;
        height : 200px;
        margin:auto;
        border-radius: 100px;
        img{
            margin:25px;    
            width : 150px;
            display: block;        }
    }
    &__titre{
        text-align:left;
        font-family: $titres;
    }
    &__contenu{
        padding:2em;
        text-align:left;
        font-family: $general;
    }
}

//bouton "Commander"
.bouton{
    background-color: $accent;
    border: none;
    border-radius : 40px;
    padding: 15px 35px;
    margin : 15px;
    text-align: center;
    font-size: 1.5em;
    a {
        color:white;
        font-family: $menus;
        text-decoration: none;
        text-transform: uppercase;
    }
}
.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article__carte img{
    width: 8.333rem;
    height: 8.333rem;
    display: flex;
    margin: auto;
    border-radius:40px;
}

.article__carte{
    background-color: rgb(161, 161, 161);
    margin: 0.556rem;
    max-width: 11.111rem;
    padding: 0.556rem;
    font-family: $general;
    position: relative;   
}

.article__carte.chocolat, .article__carte.fruits, .article__carte.lactose{
    border: 3px solid $accent;
    border-radius: 50px;
    padding-bottom: 5em;
} 

div.article_carte {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10em;
    margin: auto;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
  } 

.article_carte button{
    color: $white;
    height: 30px;
    width: 30px;
    border: none;
    background-color: $accent;
    border-radius: 100px;
    bottom: 2em;
    left: 4em;
}
.article_carte button:nth-of-type(2){
    color: $white;
    height: 30px;
    width: 30px;
    border: none;
    background-color: $accent;
    bottom: 2em;
    left: 9em;
}
p.article__carte--prix{
    display: flex;
    justify-content: center;

}
.article__carte--variable{
    left: 5.3em;
    bottom:1.7em;
}

// Patisserie

#block__Commande{
    padding:0.5em;
    }
    .patisserie_filters{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 20px;
    
        label{
            margin-bottom: 1px;
            background-color:$coffee--color;
            color:$white;
            padding:1em;
            position:relative;
            border-radius: 9px;
        }
    
        input[type="radio"]{
            opacity:0;
        }
    
       input[type="radio"]:checked + label {
            background-color:$chocolate--color;
        }
         
    }
    
    .filter{
        font-family: $general;
        margin-left: 20px;
        padding-top: 20px;
        border-bottom: 2px solid black;
        max-width: 70px;
    }
   
    .patisseries__commande{
        background-color:rgba(200, 200, 200, 0.3);
        text-align:center;
        border-radius:.5em;
        border:1px solid #000;
        width: 70vw;
        margin: auto;
        padding:1em;

        .panier{
            font-family: $titres;
            font-size: 25px;
            margin-bottom: 20px;
        
        }
        
    }

    
    #patisseries__cartPreview{
    
        margin:0 1em;
    
        li{
            background-color: $text;
            border:$coffee--color 1px solid;
            border-width:1px 1px 0px 1px;
            display:grid;
            grid-template-columns: 60% 10% 10% 20%;
            text-align: left;
            align-items:center;
            padding-left:2em;
    
            div{
                border-left: 1px $coffee--color solid;
                padding:10px;
            }
    
            .Prix{
                text-align:left;
    
            }
    
            .unites{
                text-align:right;
            }
    
        }
    
     
        
    } 
    
    #panier__somme{
        margin: 0 1em;
        display:flex;
        justify-content: space-around;
        background-color:$text;
        border:1px $coffee--color solid;
    
        span {
    
            border-right:1px $coffee--color solid;
            display:block;
            padding:1em;
            
        }
    
        span:last-of-type {
    
            border-right:0px $coffee--color solid;
            display:block;
            padding:1em;
            
        }
    }

    .hidePastry{
        display:none;
    }
    
    

.button{
    background-color: #DE3D3D;
    border: none;
    border-radius : 40px;
    padding: 15px 35px;
    margin : 15px;
    text-align: center;
    font-size: 0.9em;
    a {
        color:white;
        font-family: $menus;
        text-decoration: none;
        text-transform: uppercase;
    }

}

.Enlever{
    background-color: $coffee--color;
    height: 100%;
    cursor: pointer;
    border: none;
    text-align: center;
    color: $white;
}

.Enlever:hover{
    background-color: rgba(221, 20, 20, 0.815);
}

.LignePanier{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

// Footer
footer{
    background-color: $chocolate--color;

    a{
        text-decoration: none;
        color: $white;
    }
}

.footer_title{
    text-align: center;
    color: $white;
    font-family: $titres;
    font-size: 40px;
    padding-top: 20px;
}

.footer_title_div{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: $general;
}

.footer_div{
    color: $white;
    margin-left: 20px;

    li{
        list-style-type: none;
    }

    p{
        font-family: $general;
    }
}

.copyright{
    text-align: center;
    color: $white;
    font-size: 15px;
    padding-top: 20px;
}

@media screen and (min-width:900px){

    body {
scroll-behavior: smooth;

.hamburgermenu{
    display: none;
}

header {  

    height:50vh;
    position:relative;

    h1{
        position:absolute;
        bottom:1rem;
        left:2em;
        font-size:7vw;
    }

    button{
        position:absolute;
        bottom:1rem;
        visibility:visible;
        right:2em;
    }
    
    .navbar{
        display: flex;
        position:absolute;
        margin:0;
        top:1em;
        left:2em;
        right:2em;
        justify-content: space-between;
        font-family: $menus;
        flex-direction: row;
        border-radius: 10px;
        visibility: visible;
        background:none;

        & a{
            color: $chocolate--color;
            display: block;
            margin: 12px 0;
            padding: 0 25px;
            transition: all .50s ease;
            text-decoration:none;
            font-size:25px;
        }

        & a:hover
        {
            color: #937666;
            transform: translateY(0px);

        }

        ul
        {
            list-style-type: none;
            display:flex;
            width:97vw;
            box-sizing:border-box;

            li:first-of-type{
                background-color:$white;
                border-radius:100px;
            }

            li:last-of-type{ 

                margin-left:auto;

                .caddie
                {
                    width:2.5rem;
                    object-fit:cover;
                    visibility: visible;

                }
            }
        }

    }

}

main{

   
    padding:0.5em 4em;

}


// Commande 

#block__Commande{
    padding:0.5em;
    }
    .patisserie_filters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin: 20px;
    
        label{
            margin-bottom: 1px;
            background-color:$accent;
            color:$white;
            padding:1em;
            position:relative;
            cursor:pointer;
        }
    
        input[type="radio"]{
            opacity:0;
        }
    
       input[type="radio"]:checked + label {
            background-color:$chocolate--color;
        }
    
     
    }
    
    .filter{
        font-family: $general;
        margin-left: 20px;
        padding-top: 20px;
        border-bottom: 2px solid black;
        max-width: 70px;
    }

    .patisseries__commande{
        width: 70vw;
        margin: auto;
    }



// Engagements



#block__Engagements{

    padding:.5em;
    box-sizing:border-box;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;
    }

    ul{
        padding:.5em;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        height:min-content;
        grid-gap:1em;

       li{

        margin-bottom:2em;
        
            img{
                height:20vw;
                width:25vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
     
    }
}
    
// Footer

footer{
    padding-bottom: 20px;
    padding-top: 30px;
}

.footer_div{
    display: flex;
    flex-direction: row;
    padding: 30px;

    div{
        max-width: 300px;
        margin: 40px;
        margin-top: 0;
    }
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_title_div{
    color: $white;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: $menus;
}

.copyright{
    color: $white;
    font-size: 20px;
} 



// Media queries qui sommes-nous?
.qui{
    display:flex;
    text-align:left;
}  

}
}