$white : #E5DBD9;
$chocolate--color : #553F3F;
$coffee--color: #937666;
$accent : #DE3D3D ;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Inter:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Satisfy&display=swap');
$titres : "Berkshire Swash";
$menus : "Abril Fatface";
$general : "Inter";

*{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

body{
    font-size:18px;
    font-family:$general;
    background-color:$white;
}

main {
            h2{
            color:$chocolate--color;
            font-family:$titres;
            font-size:2em;
        }
}

// bloc Engagements

#block__Engagements{

    padding:.5em;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;

    }

    ul{
        padding:2em;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:min-content;

       li{

        margin-bottom:2em;
        
            img{
                height:40vw;
                width:50vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
    }
}
//header
header
{   
    background-image: url(assets/jr-r-90HdOlGbjck-unsplash.jpg);
    background-color: $white;
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    h1
    {
        font-family: $titres;
        color: $chocolate--color;
        text-align: center;
    }
    .navbar
    {
        position: absolute;
        margin: 50px;
        display: flex;
        justify-content: space-between;
        font-family: $menus;
        visibility: hidden;

        & a{
            color: $chocolate--color;
        }

        ul
        {
            list-style-type: none;
        }
    }
    .caddie
    {
            width:10vw;
            visibility: hidden;

    }

    .hamburger
    {   
        width: 15vw;
        display: flex;
        

    }
    
    .header__nav{
        display: flex;
        flex-direction: row-reverse;
    }

    button
    {
        visibility: hidden;
    }
}

//Qui sommes-nous
.qui{
    text-align: center;
    padding: 0.5em;
    &__logo{
        width : 200px;
        height : 200px;
        margin:auto;
        border-radius: 100px;
        img{
            margin:25px;    
            width : 150px;
            display: block;        }
    }
    &__titre{
        text-align:left;
        font-family: $titres;
    }
    &__contenu{
        padding:2em;
        text-align:left;
        font-family: $general;
    }
}

//bouton "Commander"
.bouton{
    background-color: #DE3D3D;
    border: none;
    border-radius : 40px;
    padding: 15px 35px;
    margin : 15px;
    text-align: center;
    font-size: 1.5em;
    a {
        color:white;
        font-family: $menus;
        text-decoration: none;
        text-transform: uppercase;
    }
}


// Patisserie

#block__Commande{
padding:0.5em;
}
.patisserie_filters{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}

.filter{
    font-family: $general;
    margin-left: 20px;
    padding-top: 20px;
    border-bottom: 2px solid black;
    max-width: 70px;
}

.patisseries__wrapper{

}

.patisseries__commande{
    background-color:#efefef;
}

.patisseries__wrapper{

}

.patisseries__cartPreview{
    
} 

.hidePastry{
    display:none;
}

// Footer
footer{
    background-color: $chocolate--color;

    a{
        text-decoration: none;
        color: $white;
    }
}

.footer_title{
    text-align: center;
    color: $white;
    font-family: $titres;
    font-size: 40px;
    padding-top: 20px;
}

.footer_title_div{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: $general;
}

.footer_div{
    color: $white;
    margin-left: 20px;

    li{
        list-style-type: none;
    }

    p{
        font-family: $general;
    }
}

.copyright{
    text-align: center;
    color: $white;
    font-size: 15px;
    padding-top: 20px;
}



@media screen and (min-width:375px){

    
#block__Engagements{

    padding:.5em;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;

    }

    ul{
        padding:3em;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        height:min-content;
        grid-gap:1em;

       li{

        margin-bottom:2em;
        
            img{
                height:20vw;
                width:25vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
     
    }
}
    
// Footer

footer{
    padding-bottom: 20px;
    padding-top: 30px;

}

.footer_div{
    display: flex;
    flex-direction: row;
    padding: 30px;

    div{
        max-width: 300px;
        margin: 40px;
        margin-top: 0;
    }
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_title_div{
    color: $white;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: $menus;
}

.copyright{
    color: $white;
    font-size: 20px;
} 

}

//A rajouter dans les media queries 
@media screen and (min-width:1024px){

.qui{
    display:flex;
    text-align:left;
}  
    
}

