$white : #E5DBD9;
$chocolate--color : #553F3F;
$coffee--color: #937666;
$accent : #DE3D3D ;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Inter:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Satisfy&display=swap');

$titres : "Berkshire Swash";
$menus : "Abril Fatface";
$general : "Inter";

*{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

body{
    font-size:18px;
    font-family:$general;
    background-color:$white;
}

main {
            h2{
            color:$chocolate--color;
            font-family:$titres;
            font-size:2em;
        }
}

#block__Engagements{

    padding:.5em;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;

    }

    ul{
        padding:2em;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:min-content;

       li{

        margin-bottom:2em;
        
            img{
                height:40vw;
                width:50vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
    }
}

// Footer

// Version Ordinateur
footer{
    background-color: $chocolate--color;
    padding: 50px;
}

.footer_title{
    text-align: center;
    color: $white;
    font-family: $titres;
    font-size: 50px;
}

.footer_div{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.footer_title_div{
    color: $white;
    padding-bottom: 25px;
    text-transform: uppercase;
    margin: 20px;
}

.copyright{
    text-align: center;
    color: $white;
}

@media screen and (min-width:375px){

    
#block__Engagements{

    padding:.5em;

    h3{
        color:$chocolate--color;
        font-family:$titres;
        font-size:1.5em;
        padding:.5em 0;

    }

    ul{
        padding:3em;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        height:min-content;
        grid-gap:1em;

       li{

        margin-bottom:2em;
        
            img{
                height:20vw;
                width:25vw;
                object-fit:cover;
                border-radius:4px;
            };
     }
    }
}
    
}